#about {
    background: url("/public/img/banner.jpg") no-repeat center 50%/cover, var(--color-primary);
    padding: 0;
    position: relative;
    margin: 0;
    z-index: 101;

    .filter {
        width: 100%;
        height: 100%;
        background-color: var(--color-bg);
        opacity: 0.5;
        position: absolute;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        position: relative;
        z-index: 10;
        padding: 0 48px;
        height: 100dvh;
    }

    .text {
        width: fit-content;

        h2, h3 {
            padding-bottom: 20px;
            text-align: center;
        }
    
        h2 {
            font-size: calc(70px + 2vmin);
            font-weight: 700;
        }
    
        h3 {
            font-family: 'Cinzel';
            font-weight: 500;
            letter-spacing: 2px;
            font-size: calc(10px + 2vmin);
        }
    }

    .icons {
        position: absolute;
        bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .icons-container {
            font-size: 30px;
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.7);
            width: fit-content;
            border-radius: 20px;
            padding: 5px 60px;
        }

        a, span {
            line-height: 0;
        }
        
        .icon {
            transition: all 0.05s ease-in-out;
        }

        .icon:hover {
            opacity: .7;
            cursor: pointer;
        }
    }

    #scrollDown {
        font-size: 30px;
    }
}